<p>Minimum Civs: {{MinimumCivs}}</p>
<p>Selectable Civs: {{SelectableCivs}}</p>
<p>Selected Civs: {{SelectedCivsCount}}</p>

<form name='banForm'>
    <div ng-form='banForm'>
        <div class="form-group">
            <div style="margin-bottom: 10px; text-align: center;">
                <a class="btn btn-danger" ng-click="ResetBanned()">Select none</a>
            </div>
            <table>
                <tr ng-repeat="rows in processedCivs">
                    <td ng-repeat="civ in rows" ng-click="AddOrRemoveFromBanArray(civ.nationName, $parent.$index * 5 + $index)"
                        ng-class="{'strike': Banned[$parent.$index * 5 + $index ], 'notStrike': !Banned[$parent.$index * 5 + $index]}">
                        <img src="images/{{civ.nationPicturePath}}" alt="{{civ.nationName}}" width="32"/>
                        {{civ.nationName}}
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-group row">
            <div class="col-xs-6 col-xs-offset-3">
                <a ui-sref="form.result" class="btn btn-block btn-info" ng-disabled="!banForm.$valid" ng-click="Calculate()">
                    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</form>